@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    /* border: 1px orange solid; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.header-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF9;
    font-size: 24px;
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px;
    gap: 50px;
}


h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF9;
}

.main p {
    font-size: 18px;
    color: #E5E7EB;
}

.main img {
    height: 50%;
    width: 50%;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 36px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px 0;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 100px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.images img {
    width: 100%;
    height: 100%;
    border: 4px #3882F6 solid;
    border-radius: 16px;
    margin-bottom: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    align-self:flex-end;
    padding: 10px 40px;
}