@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

* {
    border: 1px orange solid;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-family: Roboto;
}

